@import "node_modules/materialize-css/sass/materialize.scss";

body{
	background: #fafafa;
	color: #475053;
}

.logo{
	max-width: 90%;
	padding: 20px;
}

.portada{
	max-width: 100%;
}

#tituloDiv{
	padding: 1px;
	margin-left: 0px;
	margin-right: 0px;
}

#footer{
	padding: 15px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 12px;
}

#contenido{
	text-align: justify;
}

.responsive-img{
	border-radius: 10px;
}

.responsive-video{
	border-radius: 10px;
}

td img{
	height: 50px;
}

#desabilitado{
	background-color: #98B4A6;
}

#habilitado{
	background-color: #1EE494;
}