doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='app.css')
    title Componentes
  body
    .container
      .col.s12(style='text-align: justify')
        h3 Componentes
        p
          | Herramientas que componen el Add-inn para determinar el Potencial Minero.
        br
        .center-align
          img.responsive-img.z-depth-4(src='add-inn-barra.png')
          .card-content
            
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')