html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='app.css')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    title Potencial Minero Metalico
  body
    #main-container
      .container
        .col.s12
          img.portada(src='portada.jpg')
        #tituloDiv.row.col.s12.card-panel.teal.lighten-2
          .col.s8
            h1.flow-text.center.white-text.text-darken-5 Potencial Minero Metalico - Manual de Usuario
          .col.s4
            a(href='http://www.ingemmet.gob.pe/', target='_blank')
              img.logo(src='ingemmetLogo.png')
        .row
          .col.s3
            .collection
              a#presentacion.collection-item.active(href='/presentacion') Presentación
              a#instalacion.collection-item(href='/instalacion') Instalación
              a#componentes.collection-item(href='/componentes') Componentes
              a#directorios.collection-item(href='/directorios') Crear directorios
              a#variables.collection-item(href='/variables') Cargar variables
              a#potencial.collection-item(href='/potencialminero') Determinar potencial
              a#consideraciones.collection-item(href='/consideraciones') Consideraciones
              a#tutorial.collection-item(href='/tutorial') Tutorial
          iframe#contenido.col.s9(width='100%', height='600', src="\presentacion", frameborder='0', allowfullscreen='')
    footer.site-footer
      .container
        #footer.row.card-panel.grey.lighten-2(class='#e0e0e0')
          .col.s12.l2.center-align
            a.dropdown-button.btn(href='#', data-activates='dropdown1') ir a
            ul#dropdown1.dropdown-content
              li
                a(href='http://www.ingemmet.gob.pe/', target='_blank') Ingemmet
              li
                a(href='http://geocatmin.ingemmet.gob.pe/geocatmin/index.html', target='_blank') Geocatmin
          .col.s12.l3.push-l7.right-align © 2017 Instituto Geológico, Minero y Metalúrgico del Perú
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')
    script(type='application/javascript' src='app.js')
