.container
  .col.s12(style='text-align: justify')
    h4 Instalación
    p
      | Nunc non justo eget massa condimentum consectetur. Donec egestas sit amet turpis non pharetra. Proin mauris dui, porta sit amet ex sit amet, tristique rhoncus turpis. Vestibulum eget lorem ac mi porta sodales sed et risus. Aliquam aliquet vitae metus vel convallis. Praesent fringilla dolor non euismod volutpat. Etiam congue, turpis vel congue tempus, lacus elit sodales neque, vitae malesuada dolor nibh at tellus.
script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')