<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>Componentes</title>
  </head>
  <body>
    <div class="container">
      <div style="text-align: justify" class="col s12">
        <h3>Componentes</h3>
        <p>Herramientas que componen el Add-inn para determinar el Potencial Minero.</p><br>
        <div class="center-align"><img src="add-inn-barra.png" class="responsive-img z-depth-4">
          <div class="card-content"></div>
        </div><br>
        <table class="bordered highlight">
          <thead>
            <tr>
              <th align="centre">ITEM</th>
              <th align="centre">DESCRIPCIÓN</th>
              <th align="centre">ESTADO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="iniciarSesion.png"></td>
              <td>Permite la gestión de usuarios y el acceso a herramientas</td>
              <td>Desabilitado</td>
            </tr>
            <tr>
              <td><img src="crearDirectorios.png"></td>
              <td>Permite la creación del espacio de trabajo en donde se realizará las operaciones.</td>
              <td>Habilitado</td>
            </tr>
            <tr>
              <td>Cargar Información</td>
              <td>Permite la carga de información estandarizada de las variables cartográficas, dentro de la estructura generada. Se realizan procesos de consistencia tabular.</td>
              <td>Habilitado</td>
            </tr>
            <tr>
              <td>Determinar el Potencial Minero</td>
              <td>Genera el conjunto de procesamiento necesario para estimar el potencial minero. Exporta resultados em formatos raster y feature class.</td>
              <td>Habilitado</td>
            </tr>
            <tr>
              <td><img src="manualUsuario.png"></td>
              <td>Manual de usuario</td>
              <td>Habilitado</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  </body>
</html>