doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='app.css')
    title Presentación
  body
    .container
      .col.s12(style='text-align: justify')
        h3 Presentación
        p
          | La Evaluación de los Recursos y Potencial Minero Regional, es la estimación de la aptitud que tiene una zona para desarrollar la actividad minera; se basa, para ello, en las características geológicas, estructurales, geoquímicas, así como evidencias de operaciones y proyectos mineros avanzados o indicios de prospectos, ocurrencias minerales y anomalías. La Dirección de Recursos Minerales y Energéticos (DRME) del Instituto Geológico, Minero y Metalúrgico (INGEMMET), es la encargada de la investigación básica sobre la ocurrencia, génesis, localización y distribución de depósitos minerales metálicos, industriales (no metálicos) y geoenergéticos del país, destinados a poner en evidencia el potencial minero y los recursos de interés nacional.
        br
        .center-align
          img.responsive-img.z-depth-4(src='procesoEsquema.png')
          .card-content
            p Proceso para determinar el Potencial Minero
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')