html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='app.css')
    title Presentación
  body
    .container
      .col.s12(style='text-align: justify')
        h4 Presentación
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper leo commodo felis facilisis elementum. Suspendisse sodales sodales arcu, ut ultricies magna ultrices lobortis. Fusce augue lorem, posuere id interdum eu, volutpat volutpat erat. Etiam non lorem non enim convallis rhoncus. Nulla facilisi. Ut id quam dui. In a venenatis mi. Aliquam suscipit interdum felis. Fusce semper nec enim non ornare. Aliquam ullamcorper nisl vitae enim convallis hendrerit. Vivamus aliquet aliquet elit, vestibulum pulvinar odio ultricies at. Proin turpis erat, luctus a lacus in, tristique accumsan ipsum. Nulla at justo augue. Fusce finibus efficitur aliquet. Vestibulum eget neque tortor.
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')