doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='app.css')
    title Multimedia
  body
    video.responsive-video(controls='')
      source(src='potencial.mp4', type='video/mp4')
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')